<ion-header>
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="salirlogin()">
    Salir
  </ion-button>

  <p>{{id}}</p>

    <ion-item-sliding *ngFor="let eventos of eventos">
      <ion-item lines="inset" button [routerLink]="['/infoeventos', eventos.id]">
        <ion-row>
        
          <ion-col size="12">
              <ion-card>
                  <ion-img img [src]="eventos.imagen" id="imagenes"></ion-img>
                
                  <ion-card-header>{{eventos.nombre}}</ion-card-header> 
              </ion-card>
          </ion-col>
        </ion-row>
      
      </ion-item>

      
      <ion-item-options side="end">
        <ion-item-option (click)="onRemove(item)" color="secondary">
            <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  


  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button routerLink="/infoeventos" routerDirection="forward">
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
