<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-img class="img" [src]="hogar.logo"></ion-img>
    
  <ion-button   expand="full" shape="round" fill="outline" (click)="seleccionarfoto()">Seleccionar imagen</ion-button>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-item  *ngIf="hogar">
        <ion-input placeholder="Nombre de la asociación" [(ngModel)]="hogar.nombre"></ion-input>
      </ion-item>
       
      <ion-item *ngIf="hogar">
        <ion-input  placeholder="Estado de la asociación" [(ngModel)]="hogar.estado"></ion-input>
      </ion-item>
  
      <ion-item *ngIf="hogar">
        <ion-input  placeholder="Municipio de la asociación" [(ngModel)]="hogar.municipio"></ion-input>
      </ion-item> 
  
      <ion-item *ngIf="hogar">
        <ion-input  placeholder="Dirección de la asociación" [(ngModel)]="hogar.ubicacion"></ion-input>
      </ion-item> 
  
  
      <ion-item *ngIf="hogar">
        <ion-input  placeholder="Telefono de la asociación" [(ngModel)]="hogar.telefono"></ion-input>
      </ion-item> 
  
     
      <ion-item *ngIf="hogar">
        <ion-input  placeholder="Descripción de la asociación" [(ngModel)]="hogar.descripcion"></ion-input>
      </ion-item> 
  
      <ion-item *ngIf="hogar">
        <ion-input placeholder="correo electronico de la asociación" [(ngModel)]="hogar.email"></ion-input>
      </ion-item> 
      
      <ion-item *ngIf="hogar">
        <ion-input  type="password" [(ngModel)]="hogar.clave" placeholder="clave" [(ngModel)]="hogar.clave"></ion-input>
      </ion-item> 
  
      
  
      <ion-button (click)=" onSubmit()"  expand="full"shape="round" fill="outline"> Guardar</ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
